@using Entities
@using Business

@inject NavigationManager NavManager

<div>
    <EditForm Model="category">
        <!--Guardamos el Id-->
        <div class="form-group">
            <label>Referencia: </label>
            <InputText @bind-Value="category.CategoryId" class="form-control" />
        </div>
        <!--Guardamos el Nombre-->
        <div class="form-group">
            <label>Nombre de la categoria: </label>
            <InputText @bind-Value="category.CategoryName" class="form-control" />
        </div>

        <input type="button" value="Agregar categoria" @onclick="SaveCategory"/>

    </EditForm>
</div>

@code {
    CategoryEntity category = new CategoryEntity();

    private void SaveCategory()
    {
        B_Category.CreateCategory(category);

        //nos regresamos a la lista
        NavManager.NavigateTo("category/list");
    }

}
