@page "/"
<!--Llamammos a la pagina Form001 (componente)-->
<!--
<Form001 Message="Buenos dias"></Form001>
<Form001 Message="Un texto diferente"></Form001>
<Form001 Message="Otro texto"></Form001>
<Form002></Form002>-->

<h1>Sistema de inventario</h1>

<div class="container-fluid">
    <p class="float-right">
        <span class="oi oi-target" style="font-size: 60px"></span>
    </p>

    <p class="h4">
        Bienvenido a tu sitema de inventario
    </p>

</div>
